$light-yellow:    #F0E68C
$yellow-bold:     #FFF33A
$mossy-green:     #669966
$light-red:       #CD5C5C
$light-pink:      #EB879C
$light-blue:      #87CEEB
$light-green:     #87EBA4
$light-purple:    #A487EB
$light-orange:    #EBA487
$light-aqua:      #87EBD6
$maroon:          #3F1F1F

$primary-color:   #F6C
$text-color:      #F0E7D5
$golden:          #FC0
$accent-color:    $yellow-bold
$hover-color:     $light-yellow
$charcoal:        #383838
$dark-grey:       #222
$bg-color:        $charcoal
$link-color:      $accent-color
$selection-color: #FFF498
