header
  min-height:       180px
  background:       $bg-color
  background-size:  cover

.lockup
  margin-bottom: 10px
  +clearfix

  .sub-menu
    nav
      float:    left
      a
        @extend %smallLinkFont
        display: inline-block

  h1
    text-align: center
    margin-bottom: 20px
    color: white
    clear: both
    padding-top: 5px

  .kicker
    text-align: center
    font:
      weight: 700
    line-height: 1

@media (max-width: 640px)
  .sub-menu
    nav
      float: none
      text-align: center
      //padding-top:  30px
