<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title | default: site.data.general.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.general.description }}">
  <meta property="og:site_name" content="{{ site.data.general.title }}">
  <meta property="og:description" content="{{ site.data.general.description }}">
  <meta property="og:title" content="{{ page.title | default: site.data.general.title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ site.github.url }}">
  <meta rel="author" href="{{ site.data.general.me }}">
  <meta rel="publisher" href="{{ site.data.general.me }}">

  <link rel="stylesheet" href="/assets/css/bundle.css" />
  {%- if page.canonical_url -%}
    <link rel="canonical" href="{{ page.canonical_url }}" />
  {%- else -%}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  {%- endif -%}
  <link rel="alternate" type="application/rss+xml" title="{{ site.data.general.title }}" href="/rss.xml">
</head>
<body class="py-8">
  <div class="md:container mx-auto px-8">
    {%- if page.id != "home" -%}
      <nav>
        {%- if layout.nav -%}
        <a class="text-xl text-gray-500 hover:text-gray-900" href="/{{ layout.nav | slugify }}">{{ layout.nav }}</a>
        {%- else -%}
        <a class="text-xl text-gray-500 hover:text-gray-900" href="/">Home</a>
        {%- endif -%}
      </nav>
    {%- endif -%}
    {{- content -}}
  </div>
</body>
</html>
